@media (min-width: 1280px) {
     .custom-hero-image {
    /* width: 100rem !important; */
    height: 30rem !important;
  }
}
@media (min-width: 576px) { 
 h1{ 
   font-size: 0.4rem;
   letter-spacing: 1px;
  }
  p{
    font-size: 0.4rem;
  }
  ul li {
    font-size: 0.4rem;
    line-height: 1.2rem;
  }
  span {
    font-size: 0.1rem;
  }
  .navbar-brand {
    font-size: 0.4px;
    letter-spacing: 0.3px;
    font-family: monospace;
  }
  .font-responsive {
    letter-spacing: 0.8px;
  }
 }

@media (min-width: 768px) { 
  h1{ 
    font-size: 1rem;
   }
   p{
     font-size: 0.6rem;
   }
   ul li {
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
  span {
    font-size: 0.5rem;
  }
  .navbar-brand {
    font-size: 1rem;
    letter-spacing: 0.6px;
  }
  .font-responsive {
    letter-spacing: 0.9px;
  }
 }

@media (min-width: 992px) { 
  h1 {
    font-size: 1.4rem;
  }
  ul li {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  p {
    font-size: 1.2rem;
  }
  span {
    font-size: 1.2rem;
  }
  .navbar-brand {
    font-size: 1.2rem;
    letter-spacing: 0.9px;
  }
  .font-responsive {
    letter-spacing: 1px;
    line-height: 0.5rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.3rem;
  }
  ul li {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }
  span {
    font-size: 1.2rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
  }
  .font-responsive {
    letter-spacing: 1.1px;
  }
}
 